.inventory-window .fundetected-window {
    width: 414px;
    height: 554px;
    max-width: 414px;
    max-height: 554px;
    min-width: 414px;
    min-height: 554px;
    flex-shrink: 0;
    flex-grow: 0;
}